<ion-view view-title="{{event.title}}">
  <ion-content>
    <div class="card">
        <div class="item item-text-wrap">
            <p ng-show="event.title"><b>Title:</b> <span class="padding-left">{{event.title}}</span></p>
            <p ng-show="event.description"><b>Description:</b> <span class="padding-left">{{event.description}}</span></p>

            <p ng-show="event.presenters.length > 1"><b>Presenters:</b> <span class="padding-left" ng-repeat="presenter in event.presenters">{{presenter.name}}<i ng-show="presenter.title">, {{presenter.title}}{{session.stime}}</i></span></p>

            <p ng-show="event.presenters.length === 1"><b>Presenter:</b> <span class="padding-left">{{event.presenters[0].name}}<i ng-show="event.presenters[0].title">, {{event.presenters[0].title}}</i></span></p>

            <p ng-show="event.facilitators > 1"><b>Intro/Facilitator:</b> <span class="padding-left" ng-repeat="facilitator in event.facilitators">{{facilitator.name}}<i ng-show="facilitator.title">, {{facilitator.title}}</i></span></p>

            <p ng-show="event.facilitators.length === 1"><b>Facilitator:</b> <span class="padding-left">{{event.facilitators[0].name}}<i ng-show="event.facilitators[0].title">, {{event.facilitators[0].title}}</i></span></p>

            <p ng-show="event.sponser"><b>Sponser:</b> <span class="padding-left">{{event.sponser}}</span></p>

            <p ng-show="event.location"><b>Location:</b> <span class="padding-left">{{event.location}}</span></p>

            <p ng-show="event.survey"><b><a href="" ng-click="openModal()">Event Survey</a></b></p>
    	</div>
    </div>
  </ion-content>
</ion-view>
