<ion-view view-title="">
  <ion-content>
    <div class="card">
    	<div class="item item-divider">
    		{{event.title}}
    	</div>
    	<div class="item item-text-wrap">
    		<p ng-show="event.description"><b>Description:</b> <span style="display:block; padding-left:20px;">{{event.description}}</span></p>
            <p ng-show="event.presenters.length > 1"><b>Presenters:</b> <span style="display:block; padding-left:20px;" ng-repeat="presenter in event.presenters">{{presenter}}</span></p>
            <p ng-show="event.presenters.length === 1"><b>Presenter:</b> {{event.presenters[0]}}</p>
            <p ng-show="event.intro"><b>Intro/Facilitator:</b> {{event.intro}}</p>
            <p ng-show="event.location"><b>Location:</b> {{event.location}}</p>
    	</div>
    </div>
  </ion-content>
</ion-view>
