<ion-view view-title="Exhibitor">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            {{exhibitor.name}}
        </div>
    	<div class="item item-text-wrap">
            <img ng-src="http://mobiledev.rmacrao.org/{{exhibitor.img_path}}" onerror="this.style.display = 'none'" ng-show="exhibitor.img_path">

            <!--<p ng-show="exhibitor.name"><b>Name:</b> <span class="padding-left">{{exhibitor.name}}</span></p>-->

            <p ng-show="exhibitor.description"><b>Description:</b> <span class="padding-left">{{exhibitor.description}}</span></p>

            <p ng-show="exhibitor.staff.length > 1"><b>Exhibitors:</b> <span class="padding-left" ng-repeat="s in exhibitor.staff">{{s.name}}<i ng-show="s.title">, {{s.title}}</i></span></p>

            <p ng-show="exhibitor.staff.length === 1"><b>Exhibitor:</b> <span class="padding-left">{{exhibitor.staff[0].name}}<i ng-show="exhibitor.staff[0].title">, {{exhibitor.staff[0].title}}</i></span></p>
            
            <div ng-show="exhibitor.address && exhibitor.city && exhibitor.state && exhibitor.zip">
                <p><b>Address:</b>
                    <span class="padding-left">
                        {{exhibitor.address}}<br>
                        {{exhibitor.city}}, {{exhibitor.state}} {{exhibitor.zip}}
                    </span>
                </p>
            </div>
    	</div>
    </div>
  </ion-content>
</ion-view>
