<ion-view view-title="{{exhibitor.name}}">
  <ion-content>
    <div class="card">
    	<div class="item item-divider">
    		{{exhibitor.name}}
    	</div>
    	<div class="item item-text-wrap">
            <p ng-show="exhibitor.description"><b>Description:</b> <span style="display:block; padding-left:20px;">{{exhibitor.description}}</span></p>
            <p ng-show="exhibitor.staff.length > 1"><b>Exhibitors:</b> <span style="display:block; padding-left:20px;" ng-repeat="s in exhibitor.staff">{{s.name}}</span></p>
            <p ng-show="exhibitor.staff.length === 1"><b>Exhibitor:</b> {{exhibitor.staff[0].name}}</p>
            <div ng-show="exhibitor.address && exhibitor.city && exhibitor.state && exhibitor.zip">
                <p><b>Address:</b></p>
                <div style="padding-left:20px;">
                    <p>{{exhibitor.address}}</p>
                    <p>{{exhibitor.city}}, {{exhibitor.state}} {{exhibitor.zip}}</p>
                </div>
            </div>
    	</div>
    </div>
  </ion-content>
</ion-view>
