<ion-view view-title="RMACRAO">
  <ion-content class="padding">
    <h3 class="text-center">Welcome to the {{year.title}}</h3>
    <h5 class="text-center">{{year.sdate | date: "EEE MMM d"}} - {{year.fdate | date: "EEE MMM d, yyyy"}}</h5>
    <h5 class="text-center">{{year.motto}}</h5>
    <h5 class="text-center">Hotel: {{year.hotel}}</h5>
    <h5 class="text-center">{{year.city}}, {{year.state}}</h5>
    <button class = "button button-balanced" ui-sref = "app.days">
        Sessions
    </button>
    <button class = "button button-balanced" ui-sref="app.speakers">
        Speakers
    </button>
    <button class = "button button-balanced" ui-sref="app.exhibitors">
        Exhibitors
    </button>
    <button class="button button-balanced" ui-sref="app.maps">
        Maps
    </button>
    <button class="button button-balanced" ui-sref="app.info">
        Info
    </button>
    <button class = "button button-balanced" ui-sref="app.president_message">
        Message
    </button>
    <!-- <div class="card">
        <div class="item-divider">Info</div>
        <div class="item item-text-wrap">
            <p>To browse the app press one of the buttons above or, just press the three bar (navigation) icon on the top left of the screen. From there you can get to the sessions, evaluations, speakers, exhibitors, and more!</p>
        </div>
    </div> -->
  </ion-content>
</ion-view>
