<ion-view view-title="RMACRAO">
  <ion-content class="padding">
    <img src="logo.png" alt = "RMACRAO Logo" style = "width:100%;height:auto;">
    <h3 class="text-center">Welcome to the RMACRAO 2015 Conference</h3>
    <h5 class="text-center">July 17th - July 20th, 2013</h5>
    <button class = "button button-balanced" ui-sref = "app.days">
        Sessions
    </button>
    <button class = "button button-balanced" ui-sref="app.speakers">
        Speakers
    </button>
    <button class = "button button-balanced" ui-sref="app.exhibitors">
        Exhibitors
    </button>
    <button class = "button button-balanced" ui-sref="app.welcome">
        Message
    </button>
    <div class="card">
    	<div class="item-divider">Info</div>
    	<div class="item item-text-wrap">
    		<p>To browse the app press one of the buttons above or, just press the three bar (navigation) icon on the top left of the screen. From there you can get to the sessions, evaluations, speakers, exhibitors, and more!</p>
    	</div>
    </div>
  </ion-content>
</ion-view>
