<ion-view view-title="{{day.day | date: 'EEEE'}}">
  <ion-content>
    <ion-list>
    	<ion-item ng-show="sessions.length === 0">
			<p>There are no sessions available for this day.</p>
    	</ion-item>
		<ion-item ng-repeat="session in sessions" ng-show="sessions.length > 0" ng-click="goToEvents($index)">
			<p>{{session.stime | date: "h:mm"}}-{{session.ftime | date: "h:mm a"}}</p>
			<p>{{session.name | limitTo:35}} <span ng-show="session.name.length > 35">...</span></p>
		</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
