<ion-view view-title="Welcome">
  <ion-content class="padding">
    <img src="logo.png" class = "logo" alt = "RMACRAO Logo">
    <h3 class="text-center">Welcome to the RMACRAO 2015 Conference</h3>
    <h5 class="text-center">July 17th - July 20th, 2013</h5>
    <div class="card">
    	<div class="item-divider">Message From the President</div>
    	<div class="item item-text-wrap">
    		<p>Welcome to Fort Collins!</p>
            <br>
            <p>On behalf of the board of the Rocky Mountain Association of Collegiate Registrars and Admissions Officers, I would like to encourage each of you to take advantage of every moment of the 2013 annual RMACRAO meeting.</p>
            <br>
            <p>The theme of this year’s meeting is “Creating Connections” and I hope each of you is able to acquire new techniques for doing so. Please take the time to create a connection with at least two fellow members with whom you have never spoken. I encourage you to try to learn new ways to connect with the students and faculty on your campus by attending some of the great sessions which Sally Page and her Program Committee have put together.
            </p>
            <br>
            <p>I thank you for committing your resources and taking the time out of your busy schedule to attend our annual meeting. Finally, on behalf of the board, I thank Jamie Yarbrough and the rest of the Local Arrangements Committee for putting together a wonderful meeting (especially on relatively short notice). </p>
            <br>
            <p>Sincerely,</p> 
            <br>
            <p>Lane Buchanan</p>
            <br> 
            <p>RMACRAO President</p>
    	</div>
    </div>
    <button class = "button button-full button-stable" ui-sref = "app.home">
        Enter
    </button>
  </ion-content>
</ion-view>
