<ion-header-bar class="bar-stable">
  <h1 class="title">Welcome</h1>
</ion-header-bar>
<ion-view>
  <ion-content class="padding">
    <img src="logo.png" class = "logo" alt = "RMACRAO Logo">
    <h3 class="text-center">Welcome to the {{year.title}}</h3>
    <h5 class="text-center">{{year.sdate | date: "EEE MMM d"}} - {{year.fdate | date: "EEE MMM d, yyyy"}}</h5>
    <div class="card">
    	<div class="item-divider">Message From the President</div>
    	<div class="item item-text-wrap">
            <p style="white-space:pre-wrap;">{{year.president_message}}</p>
    	</div>
    </div>
    <button class = "button button-full button-stable" ui-sref="app.home">Enter</button>
  </ion-content>
</ion-view>
